<div class="container">
  <div class="row">
    <div class="col">
    <h1 class= "text-white"><%= @team.name %></h1>
    <p>
    <span class= "text-white">
      Location: <%= @team.location %><br>
      Sponsor:  <%= @team.sponsor %>
      </span>
    </p>
    </div>
    <div class="col">
      <h3 class= "text-white">Athletes:</h3>
          <p>
            <span class= "text-white">
              <ul>
                <% @team.athletes.each do |athlete| %>
                  <li>
                    <%= link_to athlete.name, athlete_path(athlete) %>
                  </li>
                <% end %>
              </ul>
            </span>
          </p>
          </div>
      <div class="col">
      <h3 class= "text-white">Events Competing In:</h3>
        <p>
          <span class= "text-white">
            <ul>
              <% @team.events.uniq.each do |event| %>
                <li>
                  <%= link_to event.title, event_path(event) %>
                </li>
              <% end %>
            </ul>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
<% if @user && (@user.id == @team.competition.competition_manager_id || @user.id == @team.team_manager_id) %>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h4><%= link_to "Edit Team", "/teams/#{@team.id}/edit" %></h4>
      </div>
      <div class="col-sm">
        <h4><%= link_to "Add Athlete", "/athletes/new" %></h4>
      </div>
      <div class="col-sm">
        <h4><%= link_to "Team Score Summary", "/teams/#{@team.id}/scores" %></h4>
      </div>
    </div>
  </div>
<%end%>
